{%- assign componentCard = components | where: 'id', id | first -%}
<div class="card wrapper" id="component-{{ componentCard.id }}">
  {%- if componentCard.media -%}
    {%- capture cardMediaProps -%}{
      "onDemand": true,
      "lazy": true,
      "height": 200
    }{%- endcapture -%}
    {%- for componentMedia in componentCard.media -%}
      {{ componentMedia | mediaTag: cardMediaProps }}
    {%- endfor -%}
  {%- endif -%}
  {%- if componentCard.title -%}
    {%- if index == 1 -%}
      <h1 class="card__title">{{ componentCard.title | replace: '\n', '<br>' }}</h1>
    {%- else -%}
      <h2 class="card__title">{{ componentCard.title | replace: '\n', '<br>' }}</h2>
    {%- endif -%}
  {%- endif -%}
  {%- if componentCard.subtitle -%}
    {%- if index == 1 -%}
      <h2 class="card__subtitle">{{ componentCard.subtitle | replace: '\n', '<br>' }}</h2>
    {%- else -%}
      <h3 class="card__subtitle">{{ componentCard.subtitle | replace: '\n', '<br>' }}</h3>
    {%- endif -%}
  {%- endif -%}
  {%- if componentCard.text -%}
    <p class="card__text">{{ componentCard.text | replace: '\n', '<br>' }}</p>
  {%- endif -%}
  {%- if componentCard.cta -%}
    <div class="card__action">
      {%- for ctaId in componentCard.cta -%}
        {%- include 'partials/cta', id: ctaId -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
  {%- if componentCard.note -%}
    <p class="card__note">{{ componentCard.note | replace: '\n', '<br>' }}</p>
  {%- endif -%}
</div>
